// Mobile breakpoint
$min-width-xs: 576px;
$max-width-xs: 767px;

// Table Portrait breakpoint
$min-width-sm: 768px;
$max-width-sm: 991px;

// Tablet Landscape breakpoint
$min-width-md: 992px;
$max-width-md: 1199px;

// Desktop breakpoint
$min-width-lg: 1200px;
$max-width-lg: 1399px;

// Large Desktop breakpoint
$min-width-xl: 1400px;
