//-----PRIMARY COLORS-----

// EDB Blue
$edb-blue-100: #132B66;
$edb-blue-80: #425585;
$edb-blue-60: #7180A3;
$edb-blue-40: #A1AAC2;
$edb-blue-20: #D0D5E0;

// EDB Light Blue
$edb-light-blue-100: #4173A0;
$edb-light-blue-80: #678FB3;
$edb-light-blue-60: #8DABC6;
$edb-light-blue-40: #B3C7D9;
$edb-light-blue-20: #ECF1F6;

// EDB Dark Blue
$edb-darkest-blue: #0D1E47;
$edb-dark-blue: #0B193B;

//-----SECONDARY COLORS-----

// Pink
$portal-pink-100: #FC3C75;
$portal-pink-80: #FD6391;
$portal-pink-60: #FD8AAC;
$portal-pink-40: #FED8E3;
$portal-pink-20: #FFEBF1;

//-----TEXT AND BACKGROUND COLORS-----

// Dark Grey
$dark-grey-100: #282828;
$dark-grey-80: #535353;
$dark-grey-60: #7E7E7E;
$dark-grey-40: #A9A9A9;
$dark-grey-20: #D4D4D4;

// Light Grey
$light-grey-100: #F0F0F0;
$light-grey-80: #F3F3F3;
$light-grey-60: #F6F6F6;
$light-grey-40: #F9F9F9;
$light-grey-20: #FCFCFC;

// Black and White
$white: #FFFFFF;
$black: #000000;

//-----TERTIARY COLORS-----

// Yellow
$yellow-100: #E6AA32;
$yellow-80: #EBBB5B;
$yellow-60: #FFEBF1;
$yellow-40: #F5DDAD;
$yellow-20: #FAEED6;

// Sand
$sand-100: #D2C39B;
$sand-80: #DBCFAF;
$sand-60: #E4DBC3;
$sand-40: #EDE7D7;
$sand-20: #F6F3EB;

// Orange
$orange-100: #C8694B;
$orange-80: #D3876F;
$orange-60: #DEA593;
$orange-40: #E9C3B7;
$orange-20: #F4E1DB;

// Green
$green-100: #78A05F;
$green-80: #93B37F;
$green-60: #AEC69F;
$green-40: #C9D9BF;
$green-20: #E4ECDF;

// Cyan
$cyan-100: #28BEBE;
$cyan-80: #53CBCB;
$cyan-60: #7ED8D8;
$cyan-40: #C9EFEF;
$cyan-20: #E9F9F9;

// Singapore Red
$singapore-red-100: #F4333D;
$singapore-red-80: #F65C64;
$singapore-red-60: #F8858B;
$singapore-red-40: #FBADB1;
$singapore-red-20: #FDD6D8;
